<div id="buttonStack">
    <button class="stk-btn" id="detail-view-<%= id %>"><i class="fa-solid fa-list"></i></button>
    <button class="stk-btn" id="image-view-<%= id %>"><i class="fa-solid fa-images"></i></button>
</div>
