<%- include('./partials/header') -%>
<div class="background"></div>
<main>
<%- include('./partials/navbar') -%>

<!-- Begin Page Content -->

    <center><h1 class="error">404 Not Found</h1></center>

</main>
<%- include('./partials/footer') -%> 